body{
    background: url(img2.jpeg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}

button{
    cursor: pointer;
}

.getStarted{
    border-radius: 20px;
    transform: scale(2.5);
    cursor:pointer;
}

.getStarted button{
    border-radius: 20px;
    border: 0px solid;
    font-weight: 600;
    background: linear-gradient(45deg, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
    cursor: pointer;
    transition: 1s;
    padding-left: 10px;
    padding-right: 10px;
}

.getStarted:hover button{
    background: linear-gradient(135deg, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
}

ion-icon{
    font-size: 25;
}

/*input{
    font-family: ;
}*/

.container{
    margin: 120px;
    padding: 25px;
    border-radius: 50px;
    background: transparent;
    backdrop-filter: blur(90px);
    border: 2px solid black ;
    transform: scale(1.6);
    font-size: 25;
    justify-content: center;
    text-align: center;
}

.container a{
    text-decoration: none;
    color:white;
}

.cardio, .resistance{
    transition: .5s;
    border-radius: 50px;
    transform-origin: center;
    color: black;
    font-weight: 900;
    text-shadow: 0 10px 10px blue;
}

.cardio ion-icon, .resistance ion-icon{
    transform: scale(0);
    transform-origin: bottom;
    transition: .5s;
}

.cardio:hover ion-icon, .resistance:hover ion-icon{
    transform: scale(1);
}

.cardio:hover, .resistance:hover{
    background-color: rgba(69, 69, 167, 0.612);
    text-shadow: 0 0 0;
}

.divHolder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.divHolder img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.itemHolder{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item img{
    transform: scale(0);
    width: 250px;
    height: 250px;
    transition: 1s linear ;
    border-radius: 50px;
}

.item:hover img{
    transform: scale(1);
}

.item button{
    position: relative;
    top: -125px;
    transition: 1.5s;
    border: 1px solid;
    transform: scale(3);
    background: black;
    border-radius: 50px;
    color: white;
    transform-origin: top;
}

.item:hover button{
    top: -10px;
    transform: scale(1.5);
    background: white;
    color:black;
}

.exerciseHolder img{
    width: 250px;
    height: 200px;
    border-radius: 50px;
}

.exerciseHolder{
    margin: 10px;
}

.exerciseHolder:hover img{
    border-radius: 50px;
    box-shadow: 0 0 30px rgb(63, 34, 56);
    background: white;
    /*animation: glowing 1s linear infinite;*/
}

@keyframes glowing {
    0%, 100%{
        box-shadow: 0 0 30px rgb(61, 61, 167), 0 0 40px rgb(61, 61, 167), 0 0 50px rgb(61, 61, 167), 0 0 60px rgb(61, 61, 167), 0 0 70px rgb(61, 61, 167);
    }
    50%{
        box-shadow: 0 0 0 ;
    }
}
