body{
    background: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.getStarted{
    background: black;
    color: white;
    border-radius: 20px;
    transform: scale(2);
}